<div class="title"> 
  <%= @title %>
</div> 
<div class="content"> 
   <input id="admin-update" type="button" value="Update" />
   <br />
   <div id="admin-status"></div>
   <textarea id="admin-results" readonly="readonly"></textarea>
</div> 
