<div class="title"> 
  <%= @title %>
</div> 
<div class="content"> 

Map:
<select>
<% @maps.each do |map| %>
   <option value="<%= "player_effectiveness/#{map.name}" %>"><%= map.name %></option>
<% end %>
</select>

</div>

