<div class="content"> 

Average player effectiveness per map.<br />
What is <%= link_to "player effectiveness", "/player_effectiveness/info" %>?

<br /><br />

<strong>Map:</strong>
<select id="maps">
<option value=""></option>
<% @maps.each do |map| %>
   <option value="<%= map.id %>"><%= map.name %></option>
<% end %>
</select>

</div>
