<div class="title"> 
  <%= @title %>:
</div> 
<div class="content"> 

Average player effectiveness per map.<br />
What is <%= link_to "player effectiveness", "/player_effectiveness_info#index" %>?

<br /><br />

<strong>Map:</strong>
<select onchange="window.location='/player_effectiveness/' + this.value">
<option value=""></option>
<% @maps.each do |map| %>
   <option value="<%= map.name %>"><%= map.name %></option>
<% end %>
</select>

</div>
