<div class="title"> 
  <%= @title %>: <%= @map_name %>
</div> 
<div class="content"> 

Map:
<select onchange="window.location='/player_effectiveness/' + this.value">
<option value=""></option>
<% @maps.each do |map| %>
   <option value="<%= map.name %>"><%= map.name %></option>
<% end %>
</select>

</div>
