<div class="title"> 
  <%= @title %>: Information
</div> 
<div class="content"> 

<strong>What games are we actually recording?</strong>

<p>
To be recorded by the Halo Reach server, a game must be started from a party that was
started by someone logged into their XBox Live account.  All those games we retreive
 and store but not necessarily to the database.  Currently we only store team games.
We also filter out games that last less than 1 1/2 minutes.
</p>

<br />

<strong>Player stats recorded</strong>

<p>
We only record stats for players that we know their service tag.  We'll eventually 
get a page that will let you update that.  But if you didn't get your service tag 
standardized across the XBoxes until recently, we won't have your previous stats.
</p>

</div>
