<div class="content"> 

Below are all the players currently in the system.

<br /><br />

<table class="sortable">
<tr>
   <th>Player</th>
   <th>Number of games recorded</th>
   <th>Last game recorded</th>
</tr>
<% @players.each do |player| %>
   <tr class="<%= cycle("alternate", "regular") %>">
      <td><%= link_to player.real_name, :controller => "players", :action => "show", :id => player.id %></td>
      <td><%= player.reach_player_stats.size %></td>
      <td><%= player.last_game == nil ? "N/A" : player.last_game.game_time.getlocal.strftime("%m/%d/%Y %I:%M%p") %></td>
   </tr>
<% end %>
</table>

</div>
